<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Fog</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/fog.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">

            <a class="navbar-brand" href="{{ url_for('display_home_route') }}">Fog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">

                        <a class="nav-link{% if url_for('upload_file_route') == request.path %} active{% endif %}" href="{{ url_for('upload_file_route') }}">Upload</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

</body>
</html>
