{% extends 'base.html' %}
{% block content %}
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h1>{{ title }}</h1>
    <hr>
    <div class="row">
    {% for folder in folders %}
        <div class="col-lg-3">
            <div class="card" style="margin-bottom:30px;">
                <a href="{{ url_for('display_result_route', folder_id=folder.folder) }}">
                    <div class="card-header">
                        #{{ folder.folder }}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for picture in folder.pictures %}
                            <img src="{{ url_for('media', path=folder.folder + "/" + picture) }}" class="col-lg-4">
                            {% endfor %}
                        </div>
                    </div>
                </a>
                <div class="card-footer">
                    <form action="{{ url_for('delete_result_route', folder_id=folder.folder) }}" method="POST">
                        <input class="btn btn-danger float-right" type="submit" name="{{ folder.folder }}" value="Löschen">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
